{% macro datos(name, placeholder, type="text") %}
<div class="control-group">
    <div class="form-group floating-label-form-group controls">
        <label>{{ placeholder }}</label>
        <input type="{{ type }}" class="form-control" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}" required>
    </div>
</div>
{% endmacro %}

{% macro campoNuevo(field)%}
<td>{{field.label}}</td>
<dd>{{field(**kwargs) | safe}}</dd>
{% if field.errors %}
    {%for error in field.errors%}
    <li style="color: red;">{{error}}</li> 
    {%endfor%}
{%endif%}


{%endmacro%}